<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.you.www"
	version 	= "1.0.0">

	<name>Mini Chat</name>

	<description>
		A brilliant mobile application enable you to chat with your mobile phone in realtime.
	</description>

	<author href="build.phonegap.com"
		email="admin@q2qconsulting.com.au ">
		The administrator of Q2Q consulting Pty Ltd australia.
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="default" />
  
  <preference name="EnableViewportScale" value="true" />

</widget>
